.checkout-step div:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.checkout-step div:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.checkout-step div:nth-child(1),.checkout-step div:nth-child(3) {
    border-right: 1px solid rgba(22, 14, 14, 0.1);
}
.checkout-step div:nth-child(2) {
    border-right: 1px solid rgba(22, 14, 14, 0.1);
}

.active {
    background-color: #10B981;
}